.homeContainer {
  max-width: 390px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (min-width: 768px) {
  .homeContainer {
    max-width: 800px;
  }
  .homeCard {
    max-width: 800px;
  }
}

@media screen and (min-width: 992px) {
  .homeContainer {
    max-width: 1200px;
  }
}
.homeCard {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
